{% extends 'student_register/base.html' %}

{% block content %}
<table class="table">
    <thead class="border-bottom">
        <tr>
            <td>Full name</td>
            <td>Id</td>
            <td>Phone</td>
            <td>Track name</td>
            <td><a href="{% url 'student_insert' %}" class= 'btn text-primary'>Insert</a> </td>
            <td></td>
        </tr>

    </thead>
    <tbody>
        {% for st in student_list %}
        <tr>
            <td>{{st.fullname}}</td>
            <td>{{st.st_code}}</td>
            <td>{{st.phone}}</td>
            <td>{{st.track}}</td>
            <td>
                <a href="{% url 'student_update' st.id %}" class= 'btn text-primary'>Update</a> 
                <form action="{% url 'student_delete' st.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn text-primary">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}