
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {%block Title%}
      parent Title
      {%endblock%}
    </title>
</head>
<body>
      <!-- <ul>
        <li>
          <a href="{%url 'Home' %}">Home</a>
          </li>
        <li>
          <a href="{%url 'traineedata'%}">Trainee Data</a>
        </li>
        <li>
          <a href="{%url 'phome'%}">Parent page</a>
        </li>
        <li>
          <a href="{%url 'hrhome'%}">Hr Home page</a>
        </li>
        <li class="blueclass">contact us</li>
        <li>
          <a href="{%url 'login'%}">
            login</a></li>
        <li>
          <a href="{%url 'logout'%}">
            logout</a></li>
        <li>about us</li>
        <li><a href="{%url 'register'%}">register</a> </li>
        <li><a href="{%url 'listintakes'%}">listintakes</a> </li>
        <li><a href="{%url 'inserttrainee'%}">inserttrainee</a> </li>
        <li><a href="{%url 'inserttraineformmodel'%}">inserttraineformmodel</a> </li>
        <li><a href="{%url 'inserttraineformmodelclass'%}">inserttraineformmodelclassz</a> </li>
        <li><a href="{%url 'Tracklist'%}">Tracklist</a> </li>
        <li><a href="{%url 'trackeCreateView'%}">trackeCreateView</a> </li>

      </ul> -->
{%block js%}
{%endblock%}
</body>
</html>